body {
    background-color: #444;
}
input[type="file"] {
    display: none;
  }
.custom-file-button {
background-color: #222;
color: white;
border: 1px solid #444;
padding: 8px;
cursor: pointer;
font-size: 14px;
display: inline-block;
border-radius: 4px;
}

.custom-file-button:hover {
background-color: #333;
}
div.jsoneditor,
div.jsoneditor-menu {
  border-color: #4b4b4b;
}
div.jsoneditor-menu {
  background-color: #222;
}
div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
  background-color: #333;
  color: #ffffff;
}
div.jsoneditor-field,
div.jsoneditor-value {
  color: #ffffff;
}
table.jsoneditor-search div.jsoneditor-frame {
  background: #333;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
  background-color: #333;
}

div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
  background-color: #333;
  border-color: #333;
}
div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}

div.jsoneditor-tree button:focus {
  background-color: #868686;
}
div.jsoneditor-readonly {
  color: #acacac;
}
div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
div.jsoneditor-value.jsoneditor-string {
  color: #A8E6CF;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: #FFD700;
}
div.jsoneditor-value.jsoneditor-number {
  color: #49a7fc;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: #006D6A;
}
div.jsoneditor-value.jsoneditor-null {
  color: tomato;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}